h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark

            li
                span 220501093-01 Planear actividades de análisis de acuerdo con la metodología seleccionada.
            li
                span 220501093-02 Modelar las funciones del software de acuerdo con el informe de requisitos.
            li
                span 220501093-04  Verificar los modelos realizados en la fase de análisis de acuerdo con lo establecido en el informe de requisitos.
