.container
    .header-ecored
        h1 4.  Construcción de diagramas UML
    .jumbotron.bg-white    

        .sub-ecored#41 
            h2 4.1  Construcción de diagramas UML con herramienta DIA  
        .row.justify-content-center.align-items-center.mt-5
            .col-md-6.col-lg-4
                .anchorBtn
                    a(href="#C1")
                        .anchorBtn__number
                            h3 V1
                        .anchorBtn__body
                            p Simbología y convenciones diagramas MER
            .col-md-6.col-lg-4
                .anchorBtn
                    a(href="#C2")
                        .anchorBtn__number
                            h3 V2
                        .anchorBtn__body
                            p Diagrama entidades y relaciones
            .col-md-6.col-lg-4
                .anchorBtn
                    a(href="#C3")
                        .anchorBtn__number
                            h3 V3
                        .anchorBtn__body
                            p Cardinalidad modelo entidad relación
            .col-md-6.col-lg-4
                .anchorBtn
                    a(href="#C4")
                        .anchorBtn__number
                            h3 V4
                        .anchorBtn__body
                            p Representación entidades débiles

            .col-md-6.col-lg-4
                .anchorBtn
                    a(href="#C5")
                        .anchorBtn__number
                            h3 V5
                        .anchorBtn__body
                            p Modelo entidad relación extendido                           
        .anchorHeader.mt-5#C1
            .anchorHeader__number
                h3 V1
            .anchorHeader__body
                p Simbología y convenciones diagramas MER
                .anchorHeader__btn
                    <a href="#top">
                        i.fa.fa-caret-up </a>

        .row.justify-content-center
            .col-11
                .card
                    .embed-responsive.embed-responsive-16by9
                        iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/lsvjnVg10hw', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
    
        .anchorHeader.mt-5#C2
            .anchorHeader__number
                h3 V2
            .anchorHeader__body
                p Diagrama entidades y relaciones
                .anchorHeader__btn
                    <a href="#top">
                        i.fa.fa-caret-up </a>

        .row.justify-content-center
            .col-11
                .card
                    .embed-responsive.embed-responsive-16by9
                        iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/l7g-88Bssjo', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
    
        .anchorHeader.mt-5#C3
            .anchorHeader__number
                h3 V3
            .anchorHeader__body
                p Cardinalidad modelo entidad relación
                .anchorHeader__btn
                    <a href="#top">
                        i.fa.fa-caret-up </a>

        .row.justify-content-center
            .col-11
                .card
                    .embed-responsive.embed-responsive-16by9
                        iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/KcORNp2A3yg', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
    
        .anchorHeader.mt-5#C4
            .anchorHeader__number
                h3 V4
            .anchorHeader__body
                p Representación entidades débiles
                .anchorHeader__btn
                    <a href="#top">
                        i.fa.fa-caret-up </a>

        .row.justify-content-center
            .col-11
                .card
                    .embed-responsive.embed-responsive-16by9
                        iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/WzPk_Cs1Cj8', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
    
        .anchorHeader.mt-5#C5
            .anchorHeader__number
                h3 V5
            .anchorHeader__body
                p Modelo entidad relación extendido
                .anchorHeader__btn
                    <a href="#top">
                        i.fa.fa-caret-up </a>

        .row.justify-content-center
            .col-11
                .card
                    .embed-responsive.embed-responsive-16by9
                        iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/hyaC1DOSYE8', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')                            