.container
    .header-ecored
        h1 5. Evaluación del informe de requisitos
    .jumbotron.bg-white    

        .sub-ecored#51 
            h2 5.1 Planeación
        p La evaluación de requisitos es el proceso de comprender y controlar los cambios en los requisitos del sistema, en la fase de planeación se establece el nivel de detalles y se seleccionan las herramientas de apoyo de software necesarias.
        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img45.png").img-fluid 

        .jumbotron.color-1.mt-5
            .row.justify-content-center.align-items-center
                .col-12.col-md-6
                    p Revise en qué consiste la planeación para la evaluación del informe de requisitos, Capítulo 4. Págs. 112-113:
                    a(href="https://login.bdigital.sena.edu.co/login?url=https://elibro.net/es/ereader/senavirtual/56294") 
                        img.img-a.my-3(src="assets/images/pages/ilustraciones/img46.png").img-fluid          
                .col-12.col-md-6
                    img.img-a.my-3(src="assets/images/pages/ilustraciones/img47.png").img-fluid    

        .sub-ecored#52
            h2 5.2 Administración del cambio 
        p Se aplica a todos los cambios propuestos a los requisitos de un sistema después de aprobarse el documento de requerimientos, es importante determinar si los beneficios de implementar nuevos requisitos están justificados por los costos de la implementación. 

        .jumbotron.color-1.mt-5
            .row.justify-content-center.align-items-center
                .col-12.col-md-6
                    p Conozca las tres etapas para el proceso de la administración del cambio, Capítulo 4. Págs. 113-114:
                    a(href="https://login.bdigital.sena.edu.co/login?url=https://elibro.net/es/ereader/senavirtual/56294") 
                        img.img-a.my-3(src="assets/images/pages/ilustraciones/img46.png").img-fluid          
                .col-12.col-md-6
                    img.img-a.my-3(src="assets/images/pages/ilustraciones/img47.png").img-fluid                             