.container

    .header-ecored
        h1 Glosario

    .jumbotron.bg-white

        p 
            strong.mr-2 Case:
            | computer Aided Software Engineering. Creación de software asistido por computador.
        p
            strong.mr-2 Caso de uso:
            | indica una función que el sistema debe proveer.
        p
            strong.mr-2 Clases:
            | unidad básica que agrupa una colección de objetos.
        p
            strong.mr-2 Framework:
            | conjunto de componentes o módulos de software que apoyan una o más etapas del proceso de desarrollo de software.
        p
            strong.mr-2 Interfaz de usuario:
            | la interfaz de usuario es el medio con que el usuario puede comunicarse con una máquina, un  equipo o una computadora, y comprende todos los puntos de contacto entre el  usuario y el equipo. Normalmente suelen ser fáciles de entender y fáciles de accionar. 

        p
            strong.mr-2 Mockup:
            | dibujo a mano alzada que apoya el entendimiento de un problema, situación o requerimiento

        p
            strong.mr-2 SCRUM:
            | es un proceso en el que se aplican de manera regular un conjunto de buenas prácticas para trabajar colaborativamente, en equipo, y obtener el mejor resultado posible de un proyecto. Estas prácticas se apoyan unas a otras y su selección tiene origen en un estudio de la manera de trabajar de equipos altamente productivos.

        p
            strong.mr-2 UML:
            | unified Modeling Language, es un lenguaje estandarizado que se utiliza para visualizar los  elementos de un sistema de software, compuesto por diagramas que representan elementos estáticos y dinámicos del sistema.