.container

    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white

        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th Nombre del documento o material
                    th Tipo de material
                    th Enlace del recurso
            tbody
                tr
                    td UPM (2014.) Metodologías ágiles. El proceso SCRUM
                    td Video
                    td 
                        a(href="https://youtu.be/p9MYRrQEOGI", target="_blank") <span class="fa fa-youtube-play" aria-hidden="true"></span> Ver
                tr
                    td Fernando Pereñiguez(2013) Ingeniería del Software II - Modelado de requisitos con UML (casos de uso) 
                    td Video
                    td 
                        a(href="https://youtu.be/5ezWOj0k02k", target="_blank") <span class="fa fa-youtube-play" aria-hidden="true"></span> Ver
                tr
                    td Fernando Pereñiguez.(2013).Tipos de relaciones en UML
                    td Video
                    td 
                        a(href="https://youtu.be/zvVzW4LzwTc", target="_blank") <span class="fa fa-youtube-play" aria-hidden="true"></span> Ver
                tr
                    td Jorge Luis Agile. (2019). Scrum en menos de 7 minutos
                    td Video
                    td 
                        a(href="https://youtu.be/KT2aVXTYrUk", target="_blank") <span class="fa fa-youtube-play" aria-hidden="true"></span> Ver
                tr
                    td Fernando Pereñiguez.(2013). Ingeniería del Software II - Modelado de clases con UML
                    td Video
                    td 
                        a(href="https://youtu.be/nFvUZ2Q0CFY", target="_blank") <span class="fa fa-youtube-play" aria-hidden="true"></span> Ver
                tr
                    td Fernando Pereñiguez(2013). Introducción al modelado del software.
                    td Video
                    td 
                        a(href="https://youtu.be/jDaEx7OCztY", target="_blank") <span class="fa fa-youtube-play" aria-hidden="true"></span> Ver                        
