include ../mixins/functions

.container

    .header-ecored
        h1 Referencias bibliográficas

    .jumbotron.bg-white.referencias
        +referenciaItem("Campderrich Falgueras, B. (2013). Ingeniería del software. Editorial UOC. ", "https://elibro-net.bdigital.sena.edu.co/es/ lc/senavirtual/titulos/56294")

        +referenciaItem("E.Kendall, K. (2011). Análisis y diseño de sistemas. (8a. ed.) Pearson Educación. ", "http://www.ebooks7-24.com.bdigital.sena.edu.co/?il=3285")

        +referenciaItem("Fossati, M. (2017). Introducción a UML: Lenguaje para modelar objetos. ", "https://books.google.com.co/books?id=vrvbDgAAQBAJ&printsec=frontcover&dq=lenguaje+unificado+de+modelado&hl=es&sa=X&ved=2ahUKEwj8-ujc2f3sAhWBTd8KHeRxBLwQ6AEwAnoECAQQAg#v=onepage&q&f=false")

        +referenciaItem("Lainez, J. (2015). Desarrollo de Software Ágil: Extremme Programming y Scrum. 2ª Edición. ", "https://books.google.com.co/books?id=TxRpCwAAQBAJ&printsec=frontcover&dq=metodologias+agiles&hl=es&sa=X&ved=2ahUKEwjFyvT82v3sAhUQhOAKHYQICJgQ6AEwAHoECAQQAg#v=onepage&q&f=false")

        +referenciaItem("Proyectos agiles.org. Qué es SCRUM. ", "https://proyectosagiles.org/que-es-scrum/")

        +referenciaItem("Ramos, D. (2016). Desarrollo de Software: Requisitos, Estimaciones y Análisis. 2 Edición. ", "https://books.google.com.co/books?id=tBaYCwAAQBAJ&printsec=frontcover&dq=requerimientos+funcionales+de+software&hl=es&sa=X&ved=2ahUKEwjEgaCv3P3sAhWCTd8KHQ0eCKYQ6AEwBXoECAYQAg#v=onepage&q=requerimientos%20funcionales%20de%20software&f=false")

        +referenciaItem("Sommerville, I. (2011). Ingeniería de software. (9a. ed.) Pearson Educación. ", "http://www.ebooks7-24.com.bdigital.sena.edu.co/?il=3313")

        +referenciaItem("The Blokehead. (2016). Scrum - ¡Guía definitiva de prácticas ágiles esenciales de Scrum!. ", "https://books.google.com.co/books?id=T24eDQAAQBAJ&printsec=frontcover&dq=metodologias+agiles&hl=es&sa=X&ved=2ahUKEwjFyvT82v3sAhUQhOAKHYQICJgQ6AEwAnoECAYQAg#v=onepage&q&f=false")